/* CSS CARD */
/* IMAGE */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace; /* Terminal-like font */
  padding: 0 20px;
  background-color: #000; /* Black terminal background */
  color: #00ff00; /* Green terminal text */
}

.container::before {
  content: "";
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.8;
  overflow: hidden;
  border-right: 2px solid #00ff00; /* Cursor effect */
}

/* CARD */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the card is above the terminal background */
}

.descripcion {
  color: #333333;
}

.descripcion h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.descripcion h2 {
  font-size: 18px;
  font-weight: 400;
  color: #555555;
  margin-bottom: 15px;
}

.descripcion p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; /* Align text to justify */
}

/* ICONS */
.descripcion .icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.descripcion .icons a {
  color: #333333;
  font-size: 20px;
  transition: color 0.3s;
}

.descripcion .icons a:hover {
  color: #0073e6;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .card-container {
    padding: 15px;
  }
  .descripcion h1 {
    font-size: 20px;
  }
  .descripcion h2 {
    font-size: 16px;
  }
  .descripcion p {
    font-size: 13px;
  }
}

/* TYPING ANIMATION */
.typing {
  /* display: inline-block; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
  border-right: 2px solid #333333; /* Cursor effect */
  animation: blinkCursor 0.5s step-end infinite alternate;
  width: 100%;
  text-align: justify; /* Align text to justify */
}

@keyframes blinkCursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #333333;
  }
}
